<!doctype html>
<html lang="en" ng-app="codeMon">
<head>
  <meta charset="utf-8">
  <title>My HTML File</title>
  <!--<link rel="stylesheet" href="css/app.css">-->
  
  <link rel="stylesheet" href="{{app.request.basepath}}/assets/src/js/angular-material/angular-material.min.css">
  <link rel="stylesheet" href="{{app.request.basepath}}/assets/src/css/style.css">
</head>
<body>
  
  <div ng-controller="codeMonDash">
    
    <md-toolbar>
      <h2 class="md-toolbar-tools">
        <span>Toolbar</span>
      </h2>
    </md-toolbar>
    
    <div class="boxes" layout="row" layout-margin>
      <div ng-repeat="session in sessions track by $index" flex flex-order="{[{($index%3)+1}]}">
        [flex-no="{[{$index}]}"]
      </div>
    </div>

    <p>Nothing here</p>
    <md-button class="md-primary" ng-click="showAlert($event)">Alert Dialog?</md-button>
  
  </div>
  
  
  <script src="{{app.request.basepath}}/assets/src/js/angular/angular.min.js"></script>
  <script src="{{app.request.basepath}}/assets/src/js/angular-animate/angular-animate.min.js"></script>
  <script src="{{app.request.basepath}}/assets/src/js/angular-aria/angular-aria.min.js"></script>
  <script src="{{app.request.basepath}}/assets/src/js/angular-material/angular-material.min.js"></script>
  <script src="{{app.request.basepath}}/assets/src/js/app.js"></script>
</body>
</html>